@import "normalize.styl"
album_name = #333333
album_author = #818181
body
	
	font-size 16px
figure
	margin 0

.container
	padding 1.4rem
	font-size 0
	text-align center
.name
	font-family: 'Varela Round', sans-serif
	color album_name

.author
	color album_author

.header
	a 
		display none
	height 3.5em
	.title
		font-size 1.1em
		text-align center
.song
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-bottom 1em
	text-align left

	p 
		margin .5em 0
