@import "fonts.styl"
@import "normalize.styl"


dark_gray = #333333
light_gray = #b1b1b1
med_gray = #818181
ultra_light_gary = #F0F0F0
red_wine = #BD255B
soundCloud = #d05c85
file = #B37088
a
	text-decoration none
body
	font-size 16px

figure
	margin 0
img
	vertical-align top
p 
	margin .5em 0
ul 
	margin 0
	padding 0

.action //buttons
	color white
	margin-right 0.6em
	font-size 1em
	&:last-child
		margin-right 0em
	&.gray 
		color light_gray
.actions
	position absolute
	bottom 0
	left 0
	right 0
	background rgba(black, 0.3)
.audioType
	color dark_gray
	font-family 'Varela Round', sans-serif
	height 1em
	font-size 1.5em
.author
	color med_gray
	height 1.3em

.border-bottom
	border-bottom 1.5px solid light_gray
.button-menu
	color dark_gray
	left .5em
	margin-top -10px
	position absolute
	top 50%
.center-block
	margin 0 auto
.center-text
	text-align center
.close-icon
	position absolute
	top .5em
	color light_gray
	right .5em
	font-size 1.2em
.container
	font-size 0
	padding 1.4rem
	text-align center
.file
	color file
.header
	
	height 3.5em
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.input
	border 1px solid med_gray
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em

.left
	float left
.list
	list-style none
.menu
	display none

.name
	color dark_gray
	font-family 'Varela Round', sans-serif
	height 1em

.padding
	padding 1em
.padding-tb
	padding 1.5em 0
.playing
	
	&.small
		width 20em
		margin 0 auto
	
		
.playbox
	padding 1em
.progress
	color med_gray
	margin 1em 0
	position relative
	.min
	.max
		font-size 0.8em 
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.circle
		background dark_gray
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px
	.state
		background red_wine
		border-radius 5px
		height 5px
		width 30%
		position relative
	.total
		background light_gray
		border-radius 5px
		height 5px
		margin 0 auto
		width 75%

	

.relative
	position relative
.right 
	float right
.right-text
	text-align right
.round
	border-radius 50%
	overflow hidden
.seriesName
	color light_gray
	height 1em
	margin-bottom 1.5em
	font-size 1.2em
.song
	display inline-block
	font-size 1rem
	margin-bottom .5em
	margin-right .5em
	text-align center
	width 14rem
.soundCloud
	color soundCloud 
.search-icon
	position absolute
	left 0.5em
	top  0.8em
	color light_gray

.username
	color light_gray
	position relative
	top  9px
	margin-left .5em
	margin-top 1em
	
	&:after
		content ""
		border-left 7px solid transparent
		border-top 7px solid light_gray
		border-right 9px solid transparent
		margin-left 0.3em
		display inline-block



@media screen and (min-width:320px)
	.description
		display none
	.playlist
		display none
	.playbox
		padding 0
		
		.progress
			display none
	.logo
		display none

@media screen and (min-width:480px)
	.description
		display block
	.playbox
		padding 1em
		.progress
			display block
	.playing
		&.medium
			width auto
	
	.primage
		img
			width 100%
			height auto
	
@media screen and (min-width:1000px)
	body
		background ultra_light_gary
	.avatar
		width 38px
		height 38px
		margin-top 1em

	.button-menu
		display none
	.header
		height auto
		border none
		.title
			display none
	.isotipo
		width 122px


	.logo
		display flex
		padding 1.3em 0
		overflow hidden
		background white

	
	.menu
		display block
		background gris_mas_claro
		overflow hidden
		border-top 1px solid gris_claro
		.item
			float left
			list-style none
			a
				color dark_gray
				cursor pointer
				display block
				padding 1em
				text-transform uppercase
				border-top 5px solid transparent
				transition .3s border-top
				&:hover
					border-top 5px solid soundCloud 
	.music
		width 32.5em
		float left

	.playing
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.playlist
		width 23em
		padding 0 2em
		border-left 1px solid light_gray
		display inline-block
		.list
			list-style none
		.item
			padding 1em 0
			
	.search
		margin-right 2em
		margin-top 0.8em
	.wrap
		width 1000px


@media screen and (min-width:1600px)

	.music
		width 60em
		float left

	.playing
		&.ultraLarge
			margin 0 auto
			width 100em
			overflow hidden
	.playlist
		width 25em
	.search
		margin-right 4em
	.wrap
		width 1600px